ITEXPAY_PUBLIC_KEY=your_public_key_here
ITEXPAY_PRIVATE_KEY=your_private_key_here
ITEXPAY_ENCRYPTION_KEY=your_encryption_key_here
# API key for local application security
APP_API_KEY=your_local_app_api_key

# Database Configuration (MySQL)
DB_URL=jdbc:mysql://localhost:3306/directchargedb?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=your_password
